#divCanva{
    width:100vw;
    height:100vh;
    display: none;

    position : absolute;
    top:0;
    left:0;

    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.5);
}

// canvas:hover{
//     cursor: none;
// }

#formReussite{
    display: none;
}

#profilUser{
    display: none;
    width: 100vw;
    height: 100vh;

    position : absolute;
    top:0;
    left:0;

    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.5);
}

#fermerProfil{
    position:absolute;
    top:0;
    right: 0;
}

#fermerCanva{
    position:absolute;
    top:0;
    right: 0;
}

#voirJeu{
    display: none;
    position:absolute;
    z-index: 9999;
}

#telDroit{
    display:none;
    font-family: 'Noel';
}

#profilConnexion{
    position: absolute;
    z-index: 9999;
    top:0;
    right:0;
}

#formSelectJour{
    width:20vw;
    position: absolute;
    z-index: 9999;
    left: 20vw;
    top:0;
}

#boutonImprimer{
    position: absolute;
    bottom: 20vh;
    left:50vw;
}

@media screen and (min-width: $tablet) {

}// @media screen and (min-width: $tablet) {





@media screen and (min-width: $desktop) {

}// @media screen and (min-width: $desktop) {
