
#divCanva{
    width:600px;
    height:400px;
}

// canvas:hover{
//     cursor: none;
// }

#formReussite{
    display: none;
}




@media screen and (min-width: $tablet) {

}// @media screen and (min-width: $tablet) {





@media screen and (min-width: $desktop) {

}// @media screen and (min-width: $desktop) {
